<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.educons.njuz">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sources.SourceListActivity"
            android:label="@string/title_source_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".sources.SourceDetailActivity"
            android:label="@string/title_source_detail"
            android:parentActivityName=".sources.SourceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educons.njuz.sources.SourceListActivity" />
        </activity>
        <activity
            android:name=".countries.CountryListActivity"
            android:label="@string/title_country_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".countries.CountryDetailActivity"
            android:label="@string/title_country_detail"
            android:parentActivityName=".countries.CountryListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educons.njuz.countries.CountryListActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>